.modal {
    min-width:60%;
}
.onScreenKeyboardVisible {
    max-height:50%;
}
.formContent {
    display:flex;
    width:100;
    justify-content: space-around;
    flex-direction: column;

}
.buttonRow {
    display: flex;
    width:100%;
    justify-content: space-around;
    padding: 15px;
}

.inputRow {
    width:100%;
    padding: 10px 0;
}
.inputRow input,textarea {
    width:100%;
    font-family: Arial, Helvetica, sans-serif;
}

.modalHeader {
    width:100%;
    text-align: center;
}